**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
tin-project-services\UserService\.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
/secrets.dev.yaml
/values.dev.yaml
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
tin-project-services/UserService/.idea/.idea.UserService/.idea/dataSources.xml
tin-project-services/UserService/.idea/.idea.UserService/.idea/encodings.xml
tin-project-services/UserService/.idea/.idea.UserService/.idea/indexLayout.xml
tin-project-services/UserService/.idea/.idea.UserService/.idea/sqldialects.xml
tin-project-services/UserService/.idea/.idea.UserService/.idea/vcs.xml
tin-project-services/UserService/.idea/.idea.UserService/.idea/sonarlint/issuestore/index.pb
tin-project-services/UserService/.idea/.idea.UserService/.idea/sonarlint/securityhotspotstore/index.pb
tin-project-services/UserService/.idea/.idea.UserService.dir/.idea/encodings.xml
tin-project-services/UserService/.idea/.idea.UserService.dir/.idea/indexLayout.xml
tin-project-services/UserService/.idea/.idea.UserService.dir/.idea/vcs.xml
